/*
  ======================
  General
  ======================
*/

body {
    min-height: 100%; /* for older browsers */
    min-height: 100vh;
    color: #000;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 160px;
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-mic {
    height: 24px;
    width: 24px;
    background-image: url(../images/Google_mic.svg);
}

.icon-apps {
    width: 17px;
    height: 17px;
    background-image: url(../images/show-apps-button.svg);
    opacity: 0.5;
}

.icon-apps:hover {
    opacity: 0.8;
}

.icon-hamburger {
    width: 18px;
    height: 18px;
    background-image: url(../images/Hamburger_icon.svg);
    opacity: 0.6;
}

.icon-search {
    width: 20px;
    height: 20px;
    background-image: url(../images/baseline-search-24px.svg);
}

.desktop {
    display: none;
}

/*
  ======================
  Navigation
  ======================
*/

nav {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
}

.nav-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-left, .nav-right {
    padding: 15px;
}

.nav-left ul, .nav-right ul {
    display: flex;
}


/*
  ======================
  Main
  ======================
*/

main {
    display: flex;
    flex-direction: column;
}

.logo-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 30px auto;
}

.search-form-container {
    margin: 0 10px;
}

.search-bar {
    margin: 0 auto;
    max-width: 750px;
    width: auto;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

.search-bar input {
    line-height: 25px;
    border: none;
    margin: 5px 0 6px 20px;
    width: auto;
}

.search-btn {
    width: 42px;
    height: 40px;
    margin: -1px;
    background-color:#3b78e7;
    border: 1px solid #3367d6;
    border-radius: 0 20px 20px 0;
}


/*
  ======================
  Footer
  ======================
*/




/* Desktop version */
@media (min-width: 800px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: initial;
    }

    .logo {
        width: 272px;
    }
}